.header{
  width: 100vw;
  height: 15vh;
  background-color: black;
}

.nameHomeContainer{
  display: flex;
  justify-content: space-between;
}

.logo{
  color:white;
  font-size: 3rem;
  margin-left: 20px;
  margin-top: 25px;
}

.homeSearch{
  display: flex;
}


.home{
  color:white;
  font-size: 1.8rem;
  margin-right: 40px;
  margin-top: 30px;
  padding: 5px;
  border-radius: 5px;
  background-color: rgb(114, 11, 11);
}

.home:hover{
  background-color: white;
  color: rgb(114, 11, 11);
  font-weight: bold;
}

.search{
  font-size: .9rem;
  margin-right: 40px;
  margin-top: 35px;
  padding: 10px;
  border-radius: 10px;
}

.ingredientsContent{
  color: white;
  display: flex;
  justify-content: center;
}

.ingredient{
  font-size: 1.5rem;
  margin-left: 30px;
}

.home{

}

.ladilla{
  color: white;
  text-decoration: none;
}

.ladilla:hover{
  color:rgb(114, 11, 11);
}

.home{
  display: flex;
  color: white;
  justify-content: end;
}
